.Dropdown {
    width: 30%;
    position: relative;

    .Dropdown-button {
        border: 1px solid #ccc;
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
        cursor: pointer;

        .Selected-option {
            background-color: #e0e0e0;
            border-radius: 5px;
            padding: 2px 5px;
            margin: 5px 0;
            display: flex;
            align-items: center;

            .Cross {
                margin-left: 5px;
                cursor: pointer;
            }
        }

        .Select {
            color: #555;
        }

        .Select-direction {
            margin-left: auto;
        }
    }

    .Dropdown-options {
        max-height: 200px;
        overflow: auto;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #eaeaea;
        border: 1px solid #ccc;
    }
}